/output/*
/.idea
#/nonebot_plugin_splatoon3/data/image
/nonebot_plugin_splatoon3/__pycache__
/__init__.py
/nonebot_plugin_splatoon3/weapon_trans_dict.txt
/nonebot_plugin_splatoon3/test_json
/build/
/dist/
/nonebot_plugin_splatoon3.egg-info/
/setup.py
MANIFEST.in
