/output/*
/.idea
/nonebot_plugin_splatoon3/data/db/control.db
/nonebot_plugin_splatoon3/__pycache__
/__init__.py
/nonebot_plugin_splatoon3/weapon_trans_dict.txt
/test_json/
/build/
/dist/
/nonebot_plugin_splatoon3.egg-info/
/setup.py
MANIFEST.in
/venv/
/poetry.lock
